requirements

pip install sqlalchemy

pip install pymysql

To familiar with the SQL syntax, check:

[w3school sql tutorial](https://www.w3schools.com/sql/)

You can code SQL and run for results on site

In [1]:
password=# ask me for the password, wipe this value clean after you are connected
from sqlalchemy import create_engine as ce
# username ray
# hostname localhost(in other cases, ip or domain)
# database name "alex", I ran sql: create database alex, and created this database
engine=ce("mysql+pymysql://alex:%s@localhost/alex?charset=utf8"%(password))
conn=engine.connect()

### Connect to the mysql base use

This part tells how to import a csv file to the mysql database.

If you are not interested in the process, jump ahead to the next green title

In [2]:
import pandas as pd
import sqlalchemy

Load the csv file to pandas dataframe

[20 year game dataset](https://www.kaggle.com/egrinstein/20-years-of-games)

In [3]:
gamedf=pd.read_csv("ign.csv",encoding="utf8")

In [4]:
cols=list(gamedf.columns)

In [5]:
# Define each column's type in mysql database, 
# just like you defined variable's type in other language
schema_dict=dict({
    cols[1]:sqlalchemy.types.String(length=30),
    cols[2]:sqlalchemy.types.String(length=200,
                                    convert_unicode="force",
                                    unicode_error="unicode_error",
                                   ),
    cols[3]:sqlalchemy.types.String(length=255),
    cols[4]:sqlalchemy.types.String(length=50),
    cols[5]:sqlalchemy.types.Float(precision=1,asdecimal=True),
    cols[6]:sqlalchemy.types.String(length=50),
    cols[7]:sqlalchemy.types.String(length=10),
    cols[8]:sqlalchemy.types.Integer(),
    cols[9]:sqlalchemy.types.Integer(),
    cols[10]:sqlalchemy.types.Integer(),
})

Use df.to_sql() to save the dataframe to MySQL database

Just like df.to_csv(),

In [6]:
gamedf[cols[1:]].to_sql("games",#name of the sql table
              conn,
              if_exists="replace", # over write the original data in database
              dtype=schema_dict)

### Learn SQL Here

In [66]:
class mysql():
    """
    Here I created a class,
    to help you focus on sql(not python)
    input the SQL sentence, 
    the function will return a dataframe compiled from mysql database
    """
    def __init__(self,conn):
        self.conn=conn
        print("mysql connection started")
    
    def sql(self,sqlline):
        rs=self.conn.execute(sqlline) # sql result
        print("SQL line %s result:"%sqlline)
        return pd.DataFrame(list(rs),columns=rs.keys()) # compile sql result into pandas dataframe

my=mysql(conn)

mysql connection started

In [67]:
my.sql("SELECT * FROM alex.games LIMIT 2")

SQL line SELECT * FROM alex.games LIMIT 2 result:

,index,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12

In [72]:
my.sql("SELECT title,platform,score FROM alex.games WHERE genre='shooter' LIMIT 10")

SQL line SELECT title,platform,score FROM alex.games WHERE genre='shooter' LIMIT 10 result:

                               title       platform  score
0                           Symphony             PC    7.0
1  Tom Clancy's Ghost Recon Phantoms             PC    7.5
2   Counter-Strike: Global Offensive      Macintosh    8.0
3   Counter-Strike: Global Offensive             PC    8.0
4   Counter-Strike: Global Offensive  PlayStation 3    8.0
5   Counter-Strike: Global Offensive       Xbox 360    8.0
6          Medal of Honor Warfighter             PC    4.0
7          Medal of Honor Warfighter  PlayStation 3    4.0
8          Medal of Honor Warfighter       Xbox 360    4.0
9    Transformers: Fall of Cybertron       Xbox 360    8.5

Now your turn

In [ ]:
my.sql()